<% 
var channels = locals.channels
var owned = ("owned" in  channels) ? channels.owned : false
var subscribed = ("subscribed" in  channels) ? channels.subscribed : false
%>
<div class="col-3 border border-dark height-4vw">
    <p class="m-1">Account</p>
    <img src="<%= user.photoURL %>" alt="avatar" class="m-1 rounded-circle border border-dark minsize-3vw">
    <a href="account" class="m-1"><i class="fa fa-cog" aria-hidden="true"></i></a>
</div>
<a href="/" class="col-3 border border-dark height-4vw">
    Log Out
</a>
<div class="dropdown col-3 border border-dark height-4vw">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Channels
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
        <% if (owned) { %>
            <ul class="pl-0">
                <% owned.forEach(function(channel) { %>
                    <li class="p-1 my-1 mx-1 row border border-dark align-items-center">
                        <strong><a href="/channel/<%= channel.id %>/"><%= channel.name %></a></strong>      
                    </li>
                <% }) %>
            </ul>
        <% }  %>
    </div>
</div>
<div class="col-3 border border-dark height-4vw">
    SOAR
</div>