// account with only one button
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SOAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div id="main h-100">
    <span class="align-middle h-100">
        <div class="container-fluid align-items-center h-100">
            <div class="row m-auto p-auto">
                <div class="m-auto h-100 col-10">
                    <div class="container-fluid h-100">
                        <div class="row-6 p-0 m-0">
                            <div class="container-fluid overflow-auto mb-md-0 w-100 containerLogInLogo">
                                <div class="m-0 py-1 px-0 row no-gutters">
                                    <div class="m-0 p-0 col">
                                        <div class="container-fluid">
                                            <div class="m-0 p-0 row no-gutters h-100">
                                                <div class="m-0 p-0 col-3 border border-dark align-items-center d-flex justify-content-center" style= "height: 4vw">
                                                    <p class="m-1">Account</p>
                                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="m-1 avatar rounded-circle border border-dark" style="max-width: 3vw; max-height: 3vw;"> 
                                                    <a href="account" class="m-1"><i class="fa fa-cog" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="m-auto p-auto col-3 border border-dark align-items-center d-flex justify-content-center" style= "height: 4vw">
                                                    <a href="index">
                                                        Log Out
                                                    </a>
                                                </div>
                                                <div class="m-0 p-0 col-3 border border-dark align-items-center d-flex justify-content-center" style= "height: 4vw">
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Channels
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                        <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
                                                        <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
                                                        <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-auto p-auto col-3 border border-dark align-items-center d-flex justify-content-center" style= "height: 4vw">
                                                    SOAR
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="d-flex">

                            <div class="col-6">
                                <div class="container-fluid h-100">
                                    <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                        <div class="container-fluid">
                                            <div class="row p-0 m-2">
                                                Current Email
                                            </div>
                                            <div class="row p-0 m-2">
                                                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Current Email" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                        <div class="container-fluid">
                                            <div class="row p-0 m-2">
                                                Current Account Name
                                            </div>
                                            <div class="row p-0 m-2">
                                                <input type="accountName" class="form-control" aria-describedby="emailHelp" placeholder="Current Account Name" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-0 my-2 border border-dark centre" style="min-height: 7vw;">
                                        <div class="my-1 p-0 row align-items-center no-gutters w-100">
                                            <div class="m-0 p-0 col-6 colFriendsList text-center">
                                                <strong>John Doe</strong>
                                            </div>
                                            <div class="m-0 p-0 col-6 colFriendsList">
                                                <div class="text-center">
                                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle border border-dark text-center" style="max-width: 6vw; max-height: 6vw;">     
                                                </div> 
                                            </div>                                                                                   
                                        </div>  
                                    </div>
                                    <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                        <div class="container-fluid">
                                            <div class="row p-0 m-2">
                                                Old Password
                                            </div>
                                            <div class="row p-0 m-2">
                                                <input type="password" class="form-control" placeholder="Old Password" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <form action="/password" method="post" enctype="multipart/form-data">
                                <form action="/account" method="post" enctype="multipart/form-data">
                                    <div class="container-fluid h-100">
                                        <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                            <div class="container-fluid">
                                                <div class="row p-0 m-2">
                                                    New Email
                                                </div>
                                                <div class="row p-0 m-2">
                                                    <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                            <div class="container-fluid">
                                                <div class="row p-0 m-2">
                                                    New Account Name
                                                </div>
                                                <div class="row p-0 m-2">
                                                    <input name="displayName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter account name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                            <div class="container-fluid">
                                                <div class="row p-0 m-2">
                                                    New Avatar
                                                </div>
                                                <div class="row p-0 m-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text py-0" id="inputGroupFileAddon01">Upload</span>
                                                        </div>
                                                        <div class="custom-file">
                                                        <input name="avatar" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                            <div class="container-fluid">
                                                <div class="row p-0 m-2">
                                                    Password
                                                </div>
                                                <div class="row p-0 m-2">
                                                    <input name="password" type="password" class="form-control" placeholder="Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                            <div class="container-fluid">
                                                <div class="row p-0 m-2">
                                                    Confirm Password
                                                </div>
                                                <div class="row p-0 m-2">
                                                    <input name="passwordConfirm" type="password" class="form-control" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-0 my-2 border border-dark" style="min-height: 7vw;">
                                            <button type="submit" class="btn btn-light btn-lg btn-outline-dark centre mx-auto p-2 my-2">Change Account Details</button>
                                        </div>
                                    </div>
                                </form>
                                </form>
                            </div>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>  
    </span>
</div><!-- end #main -->
<%- include('partials/footer'); %>


