<!DOCTYPE html>
<html lang="en">
<head>
    <title>App Name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">account, account picture, <a href="accountSettings.ejs"><i class="fa fa-cog" aria-hidden="true"></i></a></div>
                        <div class="col-lg-3"><a href="loggedOut.ejs">Log Out</a></div>
                        <div class="col-lg-3">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Channels
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  <button class="dropdown-item" type="button"><a href="loggedIn.ejs">Channel X</a></button>
                                  <button class="dropdown-item" type="button"><a href="loggedIn.ejs">Channel X</a></button>
                                  <button class="dropdown-item" type="button"><a href="loggedIn.ejs">Channel X</a></button>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-3">soar logo</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 d-lg-block d-none">
                <div class="container-fluid">
                    <div class="row"><div class="col">Friends</div></div>
                    <div class="row"><div class="col">friends list</div></div>
                    <div class="row">
                        <div class="col">
                            <a href="addFriend.ejs">Add Friend</a>
                            <a href="addFriend.ejs"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="editChannel.ejs">Channels</a>
                            <a href="editChannel.ejs"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="row"><div class="col">channels lists</div></div>
                    <div class="row">
                        <div class="col">
                            <a href="addChannel.ejs">Create Channel</a>
                            <a href="addChannel.ejs"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="container-fluid">
                    <div class="row"><div class="col" id="mainMesages">messages</div></div>
                    <div class="row"><div class="col">spend messages</div></div>
                </div>
            </div>
            <div class="col-lg-2 d-lg-block d-none">
                <div class="container-fluid">
                    <div class="row"><div class="col">Users</div></div>
                    <div class="row"><div class="col">users list</div></div>
                    <div class="row">
                        <div class="col">
                            <!-- Search form -->
                            <form class="form-inline d-flex justify-content-center md-form form-sm">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div><!-- end #main -->
  <%- include('partials/footer'); %>