<!DOCTYPE html>
<html lang="en">
<head>
    <title>App Name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div id="main">
    <span class="align-middle">
        <div class="container-fluid" style="width: 1024px; height: 1000px">
            <div class="m-0 p-0 row no-gutters">
                <div class="m-0 p-0 col">
                    <div class="container-fluid">
                        <div class="m-0 p-0 row no-gutters">
                            <div class="m-0 p-0 col-lg-3">account, account picture, <a href="accountSettings.ejs"><i class="fa fa-cog" aria-hidden="true"></i></a></div>
                            <div class="m-0 p-0 col-lg-3"><a href="loggedOut.ejs">Log Out</a></div>
                            <div class="m-0 p-0 col-lg-3">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Channels
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button"><a href="loggedIn.ejs">Channel X</a></button>
                                    <button class="dropdown-item" type="button"><a href="loggedIn.ejs">Channel X</a></button>
                                    <button class="dropdown-item" type="button"><a href="loggedIn.ejs">Channel X</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-0 p-0 col-lg-3">soar logo</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-0 p-0 row row-bottom-margin no-gutters">
                <div class="m-0 p-0 col-lg-2 d-lg-block d-none">
                    <div class="container-fluid">
                        <div class="m-0 p-0 row no-gutters">
                            <div class="m-0 p-0 col">Friends</div>
                        </div>
                        <div class="m-0 p-0 row no-gutters">
                            <div class="m-0 p-0 col">
                                <div class="card friendsList scrollbar-deep-purple bordered-deep-purple thin">
                                    <div class="card-body m-0 p-0">
                                        <div class="container-fluid overflow-auto mb-md-0 w-100 containerFriendList">
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>  
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>
                                            <div class="my-2 p-0 row no-gutters align-items-center">
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <strong>John Doe</strong>
                                                </div>
                                                <div class="m-0 p-0 col colFriendsList">
                                                    <div class="d-flex flex-row-reverse">
                                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle" style="max-width: 40px; max-height: 40px;">     
                                                    </div> 
                                                </div>                                                                                   
                                            </div>                                       
                                        </div>    
                                    </div>                                               
                                </div>                                                                                              
                            </div>
                        </div>
                    </div>
                    <div class="m-0 p-0 row no-gutters">
                        <div class="m-0 p-0 col">
                            <a href="addFriend.ejs">Add Friend</a>
                            <a href="addFriend.ejs"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="m-0 p-0 row no-gutters">
                        <div class="m-0 p-0 col">
                            <a href="editChannel.ejs">Channels</a>
                            <a href="editChannel.ejs"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="m-0 p-0 row no-gutters"><div class="m-0 p-0 col">channels lists</div></div>
                    <div class="m-0 p-0 row no-gutters">
                        <div class="m-0 p-0 col">
                            <a href="addChannel.ejs">Create Channel</a>
                            <a href="addChannel.ejs"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="m-0 p-0 col-lg-8 col-md-12">
                    <div class="container-fluid">
                        <div class="m-0 p-0 row no-gutters"><div class="m-0 p-0 col" id="mainMesages">
                            messages
                        </div></div>
                            <div class="m-0 p-0 row no-gutters"><div class="m-0 p-0 col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="">Upload</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-0 p-0 col-lg-2 d-lg-block d-none">
                    <div class="container-fluid">
                        <div class="m-0 p-0 row no-gutters"><div class="m-0 p-0 col">Users</div></div>
                        <div class="m-0 p-0 row no-gutters"><div class="m-0 p-0 col">users list</div></div>
                        <div class="m-0 p-0 row no-gutters">
                            <div class="m-0 p-0 col">
                                <!-- Search form -->
                                <form class="form-inline d-flex justify-content-center md-form form-sm">
                                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                                <i class="fas fa-search" aria-hidden="true"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
  </div><!-- end #main -->
  <%- include('partials/footer'); %>