<!DOCTYPE html>
<html lang="en">
<head>
    <title>SOAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<div class="container-fluid">
    <div class="my-1 row">
        <div class="mx-auto col-3">
            <div class="row">
                <div class="col col-12 border border-dark my-1 mx-0">
                    <p class="m-3 p-3">SOAR</p>
                </div>
                <div class="col-12 border border-dark my-1 mx-0">
                    <form action="/register" method="post">
                    <p class="m-2"> Email</p>
                    <input name="email" type="email" class="form-control my-2" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="col-12 border border-dark my-1 mx-0">
                    <p class="m-2"> Password</p>
                    <input name="password" type="password" class="form-control my-2" placeholder="Password">
                </div>
                <div class="col-12 border border-dark my-1 mx-0">
                    <p class="m-2"> Confirm Password</p>
                    <input name="passwordConfirm" type="password" class="form-control my-2" placeholder="Password">
                </div>
                <div class="col col-12 border border-dark p-0 my-1 mx-0">
                    <button type="submit" class="btn btn-light btn-lg btn-outline-dark centre mx-auto p-2 my-2">Create Account</button>
                    </form>
                </div>
                <div class="col col-12 border border-dark p-0 my-1 mx-0">
                    <button type="button" class="btn btn-light btn-lg btn-outline-dark centre mx-auto p-2 my-2"><a href="/">Login</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); %>