<!-- <div class="m-0 p-1 col">
    <strong>Friends</strong>
</div>
<div class="row friendsList scrollbar-deep-purple bordered-deep-purple thin m-1">
    <div class="container-fluid overflow-auto m-0 px-1 py-0">
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div>  
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
        <div class="my-1 row align-items-center no-gutters border border-primary">
            <div class="p-0 col">
                <strong>John Doe</strong>
            </div>
            <div class="pr-1 p-0 col d-flex flex-row-reverse">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
            </div>                                                                                   
        </div> 
    </div>                                             
</div>
<div class="m-0 p-1 col">
    <a href="addFriend">Add Friend</a>
    <a href="addFriend"><i class="fa fa-plus" aria-hidden="true"></i></a>
</div> -->