<!DOCTYPE html>
<html lang="en">
<head>
    <title>SOAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<div class="container-fluid">
    <div class="row m-1 no-gutters">
        <div class="col-3 border border-dark height-4vw">
            <p class="m-1">Account</p>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="m-1 rounded-circle border border-dark maxsize-3vw"> 
            <a href="account" class="m-1"><i class="fa fa-cog" aria-hidden="true"></i></a>
        </div>
        <a href="/" class="col-3 border border-dark height-4vw">
            Log Out
        </a>
        <div class="dropdown col-3 border border-dark height-4vw">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Channels
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
            <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
            <button class="dropdown-item" type="button"><a href="loggedIn">Channel X</a></button>
            </div>
        </div>
        <div class="col-3 border border-dark height-4vw">
            SOAR
        </div>
        <div class="col-2 col border border-dark p-0">
            <div class="m-0 p-2 col">
                <strong>Friends</strong>
            </div>
            <div class="row friendsList scrollbar-deep-purple bordered-deep-purple thin m-1">
                <div class="container-fluid overflow-auto m-0 p-1">
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div>  
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                </div>                                                 
            </div>
            <div class="m-0 p-2 col">
                <a href="addFriend">Add Friend</a>
                <a href="addFriend"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="m-0 p-2 col">
                <a href="editChannel">Channels</a>
                <a href="editChannel"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </div>
            <div class="row channelList scrollbar-deep-purple bordered-deep-purple thin m-1">
                <div class="container-fluid overflow-auto m-0 p-1">
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                    <div class="col border border-primary">Channel X</div>
                </div>                                                  
            </div>
            <div class="m-0 p-2 col">
                <a href="addChannel">Create Channel</a>
                <a href="addChannel"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-8">
            <div class="row messageList scrollbar-deep-purple bordered-deep-purple thin m-1 mt-0">
                <div class="container-fluid overflow-auto pb-1 pt-0 pl-0 pr-1">
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                    <div class="mt-0 mb-2 row no-gutters border border-primary">
                        <div class="col-2 col">                                          
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle border border-dark minsize-7vw">
                        </div> 
                        <div class="col-10 col">                                          
                            <p class="m-auto">
                                A king and queen once upon a time reigned in a country a great way off, where there were in those days fairies. Now this king and queen had plenty of money, 
                                and plenty of fine clothes to wear, and plenty of good things to eat and drink, and a coach to ride out in every day: but though they had been married many 
                                years they had no children, and this grieved them very much indeed. But one day as the queen was walking by the side of the river, at the bottom of the garden, 
                                she saw a poor little fish, that had thrown itself out of the water, and lay gasping and nearly dead on the bank. 
                            </p> 
                        </div>   
                    </div>
                </div>                                  
            </div>
            <div class="m-0 px-1 pb-0 pt-1 row">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu p-0">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="">Upload</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
        </div>
        <div class="col-2 col border border-dark p-0">
            <div class="m-0 p-2 col">
                <strong>Users</strong>
            </div>
            <div class="row userList scrollbar-deep-purple bordered-deep-purple thin m-1 mt-0">
                <div class="container-fluid overflow-auto pb-1 pt-0 pl-0 pr-1">
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div>  
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div>  
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                    <div class="my-1 row align-items-center no-gutters border border-primary">
                        <div class="p-0 col">
                            <strong>John Doe</strong>
                        </div>
                        <div class="pr-1 p-0 col d-flex flex-row-reverse">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="rounded-circle border border-dark minsize-3vw">     
                        </div>                                                                                   
                    </div> 
                </div>                                  
            </div>
            <div class="m-0 p-0 row no-gutters">
                <div class="m-0 p-1 col">
                    <!-- Search form -->
                    <form class="form-inline d-flex justify-content-center md-form form-sm">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); %>