body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
a i {
  margin-right: 0.4rem;
}
.error404{
  text-align: center;
}
.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);
}
.row:last-of-type {
  margin-bottom: 0;
}
.grid,
.col {
  background-color: rgba(0, 0, 0, 0.05);
}
.col {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  text-align: center;
  margin: 5px 0;
}
.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
.grid-container {
  grid-row-gap: 0px;
}
/* navbar */
.maxsize-3vw{
  max-width: 3vw;
  max-height: 3vw;
}
.height-4vw{
  min-height: 4vw;
  max-height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.minsize-7vw{
  min-height: 7vw;
  object-fit: cover;
}
.minsize-6vw{
  min-height: 6vw;
  max-height: 6vw;
  object-fit: cover;
}
.minsize-5vw{
  min-height: 5vw;
  max-height: 5vw;
  object-fit: cover;
}
.minsize-3vw{
  max-width: 3vw;
  max-height: 3vw;
  min-height: 3vw;
  min-width: 3vw;
  object-fit: cover;
}
.maxsize-7vw{
  max-width: 7vw;
  max-height: 7vw;
  min-height: 7vw;
  min-width: 7vw;
  object-fit: cover;
}
.maxsize-6vw{
  max-width: 6vw;
  max-height: 6vw;
  min-height: 6vw;
  min-width: 6vw;
  object-fit: cover;
}
.maxsize-12vw{
  max-width: 12vw;
  max-height: 12vw;
  min-height: 12vw;
  min-width: 12vw;
  object-fit: cover;
}

/* Sidebar */
.scrollbar-deep-purple::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-deep-purple::-webkit-scrollbar {
width: 10px;
background-color: #F5F5F5; }

.scrollbar-deep-purple::-webkit-scrollbar-thumb {
border-radius: 12px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: orange; }

.scrollbar-deep-purple {
scrollbar-color: orange #F5F5F5;}

.bordered-deep-purple::-webkit-scrollbar-track {
-webkit-box-shadow: none;
border: 1px solid blue; }

.bordered-deep-purple::-webkit-scrollbar-thumb {
-webkit-box-shadow: none; }
.square::-webkit-scrollbar-track {
border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
border-radius: 0 !important; }

.thin::-webkit-scrollbar {
width: 6px; }

.friendsList {
position: relative;
overflow-y: scroll;
height: 200px; }

.colFriendsList {
border: none;
background-color: white;
}
.userList {
position: relative;
overflow-y: scroll;
height: 622px; }

.colUsersList {
border: none;
background-color: white; }

.channelList {
position: relative;
overflow-y: scroll;
height: 200px; }

.colChannelList {
border: none;
background-color: white;
min-height: 35px; }

.messageList {
position: relative;
overflow-y: scroll;
height: 654px; }

.colMessageList {
border: none;
background-color: white;}

.col{
border: none;
background-color: white;
}
.colList{
border: none;
background-color: white;
}

/* #add-users */
.scrolling-wrapper{
	overflow-x: auto;
}
.add-user{
  text-align: center;
}
.image {
  max-width: 24vw; 
  max-height: 24vw;
}
.add-user p{
  width: 100%;
  display: block;
}

/* #update-avatar */
.newAvatarImage{
  min-width: 12vw;
  min-height: 12vw;
}

#textcentre {
  text-align: center;
}

ul {
  list-style-type: none;
  }
